@page "/"

<PageTitle>Index</PageTitle>

<h1 class="text-center">Welcome to HR Leave Management System</h1>
<br />
<br />

<AuthorizeView>
    <Authorized>
        <button class="btn btn-danger" @onclick="Logout">Logout</button>
    </Authorized>
    <NotAuthorized>
        <button class="btn btn-success" @onclick="GoToLogin">Login</button>
        ||
        <button class="btn btn-primary" @onclick="GoToRegister">Register</button>
    </NotAuthorized>
</AuthorizeView>

