@page "/leavetypes/edit/{id:int}"
@attribute [Authorize(Roles = "Administrator")]

<h3>Edit Leave Type</h3>

@if (string.IsNullOrEmpty(Message) == false)
{
    <div class="alert alert-danger">
        @Message
    </div>
}

<FormComponent ButtonText="Update" LeaveType="leaveType" OnValidSubmit="@EditLeaveType" />

